{% load static from staticfiles %}

<section id="section-album">
<div class="foto">
      <a href="/">
        <img src="{% static 'images/showcase2.jpeg' %}">
      </a>
</div>
<div class="foto">
      <a href="/">
        <img src="{% static 'images/foto.jpeg' %}">
      </a>
</div>
<div class="foto">
      <a href="/">
        <img src="{% static 'images/showcase3.jpeg' %}">
      </a>
</div>
<div class="foto">
      <a href="/">
        <img src="{% static 'images/almendras.jpg' %}">
      </a>
</div>
<div class="foto">
      <a href="/">
        <img src="{% static 'images/logoGPI.png' %}">
      </a>
</div>
</section>
